/* colors */ 

$color-white: #fff;
$color-gray-02: #f9f9f9;
$color-gray-07: #eee;
$color-gray-13: #ddd;
$color-gray-27: #bbb;
$color-gray-50: #808080;
$color-gray-60: #666;
$color-gray-73: #444;
$color-gray-93: #131313;
$color-black: #000;

/* font size */ 

$font-size-sm: 0.75rem;
$font-size-sm-2: 0.85rem;
$font-size-med: 1rem;
$font-size-med-2: 1.2rem;
$font-size-large: 2rem;
$font-size-xl: 3rem;

/* border size */ 
$line-height-lg: 1.5;
$line-height-xs: 1;
$line-height-sm: 1.2;

/* border size */ 

$border-size-1: 1px;
$border-size-2: 2px;
$border-size-3: 5px;
$border-size-4: 10px;
$border-size-5: 25px;

/* border radius */ 

$border-radius-1: 1px;
$border-radius-2: 2px;
$border-radius-3: 5px;
$border-radius-4: 10px;
$border-radius-5: 25px;


/* font family */

$font-family-main: "HelveticaNeue", "Helvetica", "Arial", sans-serif;
$font-family-base: serif;
/* colors */ 